@charset "utf-8" ;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EFECEA;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  max-width: 1200px;  
  margin: 0 auto;     
  font-size: 16px; 
}

h2 {
  font-family: "Shippori Mincho B1", serif;
  font-weight: 400;
  font-style: normal;
}

h4,h3 {
  font-weight: normal
}


.main-visual {
  font-family: "Shippori Mincho B1", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 542px;
  background-image: url("img/27136818 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 55px;
  color: #796C6C;
}

.show {
  filter: blur(0);
  opacity: 1;
}

.about {
  padding: 100px;
  text-align: center;
  margin-top: 24px;
}

.about-content {
  padding: 50px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  gap: 20px;
}
.about-content img {
  width:calc(460 / 1000 * 100%);
  order: 0;
  padding: 24px;
}

.about-text {
  order: 1;
  margin-left: auto; 
  text-align: left;
  max-width: 60%;
}

.about-text h3 {
  margin-bottom: 30px;
  text-align: center;
}

.works {
  text-align: center;
  margin-top: 24px;
}

.work-item {
  display: inline-block;
  padding: 36px;
}

.work-item a {
  text-decoration: none;
  color: #000;
}

.work-img img {
  object-fit: contain;
}

.skills {
  background-color: #D7BCA7;
  padding: 100px 0 100px 0;
  text-align: center;
  margin-top: 18px;
}

.skills h2 {
  margin-bottom: 56px;
}

.skills-content {
  text-align: center;
}

.skill-item {
  display: flex;
  gap: 36px;
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 2;

}

.skill-item p {
  margin: 0;
  flex: 1; 
  text-align: left;
}

.contact {
  padding: 100px;
  text-align: center;
  margin-top: 24px;
}

.contact p {
  padding: 50px 0 0 0;
}

.social-links {
  padding: 27px 0 0 0;
}


/* work-item */
.work-item {
  gap: 32px;
  margin-top: 8px;
  color: #515151;
}

.work-showcase h1 {
  padding: 50px;
  text-align: center;
  margin-top: 16px;
}

.device-mockup img {
  display: flex;
  gap: 20px;
}

.img-wrap {
  display: flex;
}

.device-mockupSP {
  padding-bottom: 100px;
}

.work-description {
  text-align: center;
  padding: 0 150px 0 150px;
}

.work-links {
  text-align: center;
  padding: 50px 0 0 0;
}

.SP-br {
  display: none;
}

/* スマホ用 */
@media (max-width: 900px)  {

.main-visual {
  font-size: 35px;
}

.SP-br {
  display: block;
}

.about {
  padding: 50px;
}

.about-content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-content img {
  max-width: 100%; 
  width: 100%;
  height: auto;  
}  

.about-text {
  max-width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.skill-item {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.skill-item p {
  margin-top: 16px;
  font-size: 14px;
  width: 196px;
}

/* work-itemスマホ用 */
.work-item {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work-showcase h1 {
  padding: 50px;
  text-align: center;
  margin-top: 16px;
}

.work-img img {
  height: auto; 
}

.device-mockup img {
  max-width: 100%; 
  height: auto; 
}

.img-wrap {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
}